<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>GolosText-Regular.ttf</string>
		<string>GolosText-Medium.ttf</string>
		<string>GolosText-SemiBold.ttf</string>
		<string>GolosText-Bold.ttf</string>
		<string>GolosText-ExtraBold.ttf</string>
		<string>GolosText-Black.ttf</string>
		<string>BricolageGrotesque_Condensed-Bold.ttf</string>
		<string>BricolageGrotesque_Condensed-ExtraBold.ttf</string>
		<string>BricolageGrotesque_Condensed-ExtraLight.ttf</string>
		<string>BricolageGrotesque_Condensed-Light.ttf</string>
		<string>BricolageGrotesque_Condensed-Medium.ttf</string>
		<string>BricolageGrotesque_Condensed-Regular.ttf</string>
		<string>BricolageGrotesque_Condensed-SemiBold.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-Bold.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-ExtraBold.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-ExtraLight.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-Light.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-Medium.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-Regular.ttf</string>
		<string>BricolageGrotesque_SemiCondensed-SemiBold.ttf</string>
		<string>BricolageGrotesque-Bold.ttf</string>
		<string>BricolageGrotesque-ExtraBold.ttf</string>
		<string>BricolageGrotesque-ExtraLight.ttf</string>
		<string>BricolageGrotesque-Light.ttf</string>
		<string>BricolageGrotesque-Medium.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
	</array>
</dict>
</plist>
